.game{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    .dino{
        width: 50px;
        height: 50px;
        background-image: url(../images/trex.png);
        background-size: 50px 50px;
        position: relative;
        top: 150px;
    }
    .jump{
        animation: jump 0.3s linear;
    }

    .cactus{
        width: 20px;
        height: 40px;
        position: relative;
        top: 110px;
        left: 580px;
        background-image: url(../images/cactus.png);
        background-size: 20px 40px;
        animation: block 4s infinite linear;
    }
    
    .cactus2{
        width: 20px;
        height: 40px;
        position: relative;
        top: 70px;
        left: 200px;
        background-image: url(../images/cactus.png);
        background-size: 20px 40px;
        animation: block1 2.5s infinite linear;
        
    }
    
}
@keyframes jump{
    0%{
        top: 150px
    }
    50%{
        top: 90px
    }
   
    100%{
        top: 150px
    }
}

@keyframes block{
    0%{
        left: 580px;
    }
    100%{
        left: 0px;
    }
}

@keyframes block1{
    0%{
        left: 200px;
    }
    100%{
        left: 0px;
    }
    1%{
        left: 580px
    }
}